.tickets-advantages {
  height: $tickets-advantages-height;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;

    i {
      margin-right: 20px;
      color: $white;
      font-size: 2.5rem;
    }

    &_left, &_right {
      width: 95%;
      background-color: $primary-color;
    }

    &_center {
      flex-grow: 1;
      background-color: $dark-color;

      &:before, &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        @include chevron-mixin($white);
      }

      &:before {
        right: -1px;
        transform: rotate(180deg);
      }

      &:after {
        left: -1px;
      }
    }
  }

  &__arrow {
    width: 5%;
    @include chevron-mixin($primary-color);
    &_left {
      transform: translate(-1px, -1px);
    }

    &_right {
      transform: translate(1px, 1px) rotate(180deg);
    }
  }

  &__text {
    color: $white;
    margin: 0;

    &-big {
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    &-small {
      font-size: .75rem;
    }
  }
}
