@import 'center-label';

.carousel {
  position: relative;
  height: $carousel-height;
  &__top-triangle {
    @include absolute-center('x');
    z-index: 100;
    top: -1px;
    border: 50px solid transparent;
    border-top-color: white;
    border-right-width: 150px;
    border-left-width: 150px;
    width: 250px;
    height: 50px;
  }

  &__center-label {
    @include absolute-center('xy');
    z-index: 100;
  }

  // rewriteted default bootstrap styles
  &-item img {
    height: $carousel-height;
  }

  &-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    padding: 0;
    margin: 0 5px 0 5px;

    &.active {
      background-color: $dark-color;
    }
  }
}
