@mixin button($color, $color2) {
  background-color: $color;
  text-transform: uppercase;
  color: $color2;
  margin-top: 40px;
  font-size: 1.2rem;
  padding: 5px 20px;
  outline: none;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    color: $color;
    background-color: $color2;
  }
}
