.cta-button {
  background-color: $secondary-color;
  text-transform: uppercase;
  color: $white;
  margin-top: 40px;
  font-size: 1.2rem;
  padding: 5px 20px;
  outline: none;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    color: $secondary-color;
    background-color: $white;
  }
}
