.locale-switch {
  position: relative;
  &__arrow {
    @include absolute-center('y');
    font-size: .5rem;
    right: 10%;
    color: $light-second-color;
  }
  &__select {
    background-color: $black;
    width: 75px;
    color: $light-second-color;
    font-size: .70rem;
    text-transform: uppercase;
    padding: 5px;
    appearance: none;
  }
}
