.section-title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: .65rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__shape {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    transform: rotate(45deg);
  }

  &__text {
    position: relative;
    margin: 0 60px;

    &:after, &:before {
      @include absolute-center('y');
      content: '';
      display: block;
      width: 2000px;
      height: 2px;
      background-color: $light-second-color;
    }


    &:after {
      left: 285px;
    }

    &:before {
      right: 285px;
    }
  }
}
