.socials {
  font-size: .9rem;
  &__link {
    transition: all .2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &:hover {
      transform: scale(1.1);
    }
  }

  &_primary {
    color: $primary-color;
    .socials__link {
      border: 1px solid $primary-color;
    }
  }

  &_black {
    color: $black;
    .socials__link {
      background-color: $white;
    }
  }

  &_big {
    font-size: 1.25rem;
    .socials__link {
      width: 45px;
      height: 45px;
    }
  }
}
