.line {
  @include absolute-center('x');
  height: 1px;
  background: white;
  z-index: -10;
}

.text-with-lines {
  position: relative;

  &__line {
    &_long {
      width: 100px;
      bottom: 3px;
    }
    &_short {
      width: 75px;
      top: 3px;
    }
  }
}

