.header {
  .top-stripe {
    background-color: $light-second-color;
    height: $header-top-stripe-height;

    &__call-icon {
      font-size: .55rem;
    }

    &__text, ,&__phone-link, &__link {
    color: $dark-second-color;
    font-size: .65rem;
  }

    &__link {
      text-transform: uppercase;
      border-right: 1px solid $dark-second-color;

      &:last-child {
        border-right: none;
      }
    }
  }

}
