// colors
$light-color: #fff;
$light-second-color: #f2f2f2;

$dark-color: #141414;
$dark-second-color: #393939;
$dark-third-color: #747474;

$primary-color: #d8c092;
$secondary-color: #f0975c;

$black: #000;
$white: #fff;

// static values
$header-top-stripe-height: 35px;
$header-header-nav-height: 100px;
$carousel-height: 600px;
