@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pattaya&family=Playfair+Display:ital@1&display=swap');

@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';

// variables
@import './vars';

// mixins
@import './mixins/chevron-mixin';
@import './mixins/button';
@import './mixins/after-before-lines';
@import './mixins/apply-bg-images';
@import './mixins/absolute-center';

// reusable components throw all page
@import 'components/logo';
@import 'components/socials';
@import 'components/locale-switch';
@import 'components/text-with-lines';
@import 'components/section-title';
@import 'components/button';

// components and its elements related to particular section
@import 'sections/header/header';
@import 'sections/carousel/carousel';
@import 'sections/tickets-advantages/tickets-advantages';
@import 'sections/offers/offers';
@import 'sections/gallery/gallery';

* {
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: Lato;
}

a {
  text-decoration: none;
  &:hover {
    color: initial;
  }
}

.btn {
  outline: none;
  box-shadow: none;

  &:hover, &:focus, &:active {
    box-shadow: none;
    outline: none;
  }
}

