@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pattaya&family=Playfair+Display:ital@1&display=swap');

@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';

// variables
@import './vars';

// mixins
@import './mixins/chevron-mixin';

// components and its elements related to particular section
@import './components/header/header';
@import './components/carousel/carousel';
@import './components/tickets-advantages/tickets-advantages';

// reusable components throw all page
@import './components/shared/logo';
@import './components/shared/socials';
@import './components/shared/locale-switch';
@import './components/shared/text-with-lines';

* {
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: Lato;
}

a {
  text-decoration: none;
  &:hover {
    color: initial;
  }
}
