.footer {
  background-color: $dark-color;
  height: $footer-height;

  &__container {
    > div {
      flex: 1;

      &:first-of-type, &:last-of-type {
        position: relative;
      }

      &:last-of-type {
        flex: 2;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: $light-second-color;
    margin-bottom: 30px;
    font-size: .85rem;

    &_special {
      font-family: Playfair Display;
      text-transform: none;
      margin: 0px 5px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      color: $dark-third-color;
      font-size: .75rem;
      margin-bottom: 8px;
    }
  }

  &__extra-info {
    position: absolute;
    color: $dark-third-color;
    bottom: 10%;
    left: 0;
    font-size: .5rem;

    i {
      font-size: 1rem;
      margin-right: 10px;
    }
  }

  &__back-to-start {
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: $black;
    color: $white;

    &:hover {
      transform: translateY(-20%);
    }
  }
}
